/*GLOBAL CSS SECTION*/
/* ~~~~~~START~~~~~~~ */

.background {
  background-color: #FDF5E8;
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: 'Courgette';
  src: local('Courgette'), url(./fonts/Courgette-Regular.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  src: local('Rubik'), url(./fonts/Rubik-VariableFont_wght.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.card {
  height: 550px !important;
  width: 275px !important;
  padding: 10px 10px 10px 10px;
}

img {
  width: 275px !important;
  height: 250px !important  ;
}


/* ~~~~~~END~~~~~~~ */
/*GLOBAL CSS SECTION*/



/*NAVBAR SECTION*/
/* ~~~~~~START~~~~~~~ */

.title-font {
  font-family: 'Courgette' !important;
}

.menu-font {
  font-family: 'Rubik' !important;
  font-size: 18px !important;
}

.account-font {
  font-family: 'Rubik' !important;
  font-size: 14px !important;
}

/* ~~~~~~END~~~~~~~ */
/*NAVBAR SECTION*/



/*HOME SECTION*/
/* ~~~~~~START~~~~~~~ */

.home {
  padding: 20px 50px !important;
}

.row {
  padding: 40px 0 50px 0;
}

.slick-arrow.slick-prev:before, .slick-arrow.slick-next:before {
  color: black !important;
}

.center .slick-center .card {
  color: #e67e22;
  opacity: 1 !important;
  transform: scale(1.08);
  margin-Bottom: 40px;
}

.slick-slide {
  opacity: 1;
  transform: scale(0.90);
  transition: all 300ms ease;
}

/* ~~~~~~END~~~~~~~ */
/*HOME SECTION*/



/*LIST SECTION*/
/* ~~~~~~START~~~~~~~ */

.list-card {
  padding: 10px 10px 10px 10px;
}

#list-page {
  height: 90em;
}

/* ~~~~~~END~~~~~~~ */
/*LIST SECTION*/


/*ADD SECTION*/
/* ~~~~~~START~~~~~~~ */

#add-header {
  padding-top: 20px;
}

#add-page {
  height: 75em;
}

/* ~~~~~~END~~~~~~~ */
/*ADD SECTION*/
